<IfModule mod_rewrite.c>
    RewriteEngine On

    # No interceptar OPTIONS, dejar que pase a Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
